.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:  #3BAFDA;
    z-index: 1000;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:100px;
}
.header.shrink {
    height: 50px;
    line-height:60px;

}
.header h1
{
    font-size:30px;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink h1
{
    font-size:24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.content
{
height:2000px;
 /*just to get the page to scroll*/
}
#header_image
{
    margin-right: 80%;
}