/* Font by Bennett Feely http://codepen.io/bennettfeely/pen/GCAKJ */
@font-face { font-family:icon; src: url('http://bennettfeely.com/fonts/icons.woff'); }

section {
  overflow:hidden;
  position:relative;
  margin:30px auto auto;
  width:50px;
  height:500px;
  background-image: -moz-linear-gradient(90deg, #1f96e2 0%, #093a68 100%);
  background-image: -o-linear-gradient(90deg, #1f96e2 0%, #0d518f 100%);
  background-image: -webkit-linear-gradient(90deg, #2aaaf8 0%, #093a68 100%);
  background-image: linear-gradient(90deg, #1f96e2 0%, #093a68 100%);
  border-radius:50px;
  font-family:icon;
  border-bottom:2px solid #6c635e;
  box-shadow:0px 3px 3px #919191;

}

section:after {
  position:absolute;
  top:-65px;
  left:-25px;
  content:"";
  border-radius:100%;
  width:300px;
  height:200px;
  background:rgba(225, 225, 225, 0.2);
}

p {
  position:relative;
  z-index:1;
  text-align:center;
  margin:0;
  padding:0;
  padding-top:18.4%;
  color:white;
  font-size:10em;
  text-shadow:5px 5px 14px rgba(0, 0, 0, 0.2);
  
}

footer {
  text-align:center;
  padding-top:30px;
  font-family:"Arial";
  font-size:11px;
  color:rgba(0, 0, 0, 0.8);
}

a:link, a:visited {
  color:#111;
  text-decoration:none;
  border-bottom:1px dotted;
}

